@{
    ViewBag.Title = "Relatorios";
}
<section class="forms">
    <div class="relatorios">
        <div class="relatorios-titulo">
            <h1>Relátorios</h1>
        </div>
        <label class="lbl-relatario">Nome</label>
        <div class="estilo-linha"></div>
        <a href="~/Colaboradores/ImprimirRelatorios">
            <p class="lbl-relatario">Lista de usuarios</p>
        </a>
        <div class="estilo-linha"></div>
    </div>

</section>